<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Mis compras
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <h1>1</h1>
      </ion-avatar>
      <ion-label>
        <h2>Pokémon Yellow</h2>
        <h3>Legendario</h3>
        <p>Antiguo</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <h1>1</h1>
      </ion-avatar>
      <ion-label>
        <h2>Pokémon Yellow</h2>
        <h3>Legendario</h3>
        <p>Antiguo</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <h1>1</h1>
      </ion-avatar>
      <ion-label>
        <h2>Pokémon Yellow</h2>
        <h3>Legendario</h3>
        <p>Antiguo</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <h1>1</h1>
      </ion-avatar>
      <ion-label>
        <h2>Pokémon Yellow</h2>
        <h3>Legendario</h3>
        <p>Antiguo</p>
      </ion-label>
    </ion-item>
  </ion-list>