<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Mis compras
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let element of listaFacturas; let i = index">
    <ion-item>
      <ion-avatar slot="start">
        <h1>{{i+1}}</h1>
      </ion-avatar>
      <ion-label style="text-align: right;">
        <h2>{{element.fecFact | date : 'd/MM/yyyy, h:mm a'}}</h2>
        <h3>Total: $ {{element.total | number: "1.2-2"}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>